<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Login Page</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left" method="POST" action="/">
			<div class="login-form-main-message"></div>
			<div class="main-login-form d-flex justify-content-center">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Username</label>
						<input type="text" id="reg_username" name="username" placeholder="Username" required>
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" id="reg_password" name="password" placeholder="Password" required>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
				
			</div>
			<div class="etc-login-form d-flex justify-content-center">
				<p>Don't have an account? <a href="/createAccount">Sign up here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</body>
</html>